:root {
    --text-color: #fff;
}
.dark-mode:root {
    --text-color: #000;
}
.light-mode:root {
    --text-color: #fff;
}

.centerPageInicio {
    width: 100vw;
    height: 90vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.fancy {
    color: var(--text-color);
    position: relative;
    white-space: nowrap;
    &:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23000' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
}
.Description {
    display: inline-block;
    text-align: center;
    grid-gap: 2px;
    color: var(--text-color);
}
.Btn-projetos {
    padding: 10px;
    font-size: 25px;
    background-color: #00FDCF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.Btn-projetos:hover {
    transition: 0.5s;
    box-shadow: 1px 1px 5px var(--text-color);
}