:root {
    --text-color: #000;
}
.dark-mode:root {
    --text-color: #fff;
}
.light-mode:root {
    --text-color: #000;
}


.navbar {
    width: min(1000px, 100vw);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d1d1d1;
}

.navbar div:first-child{
    height: 50px;
    width: 300px;
}
.navbar div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
} 

.navbar button {
    cursor: pointer;
}

.redes button {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: transparent;
    border: none;
}
.redes button:hover {
    transition: 1s;
    transform: scale(1.1);
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu button {
    height: 100%;
    background-color: transparent;
    border: none;
    border-top: 2px solid red;
    border-bottom: 2px solid transparent
}
.menu button:hover {
    transition: 0.5s;
    border-bottom: 2px solid green;
}
