.Light:root{
    --NavbarBackground: rgb(32,32,32);;
    --NavbarBackground-moz: -moz-linear-gradient(90deg, rgba(32,32,32,0) 0%, rgb(189, 189, 189) 50%, rgba(0,0,0,0) 100%);
    --NavbarBackground-webkit: -webkit-linear-gradient(90deg, rgba(32,32,32,0) 0%, rgba(189,189,189,1) 50%, rgba(0,0,0,0) 100%);
    --NavbarBackground-liner: linear-gradient(90deg, rgba(32,32,32,0) 0%, rgb(189, 189, 189) 50%, rgba(0,0,0,0) 100%);
    --NavbarBackground-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202020",endColorstr="#000000",GradientType=1);

    --BorderButtonColor: #212121;
}

.Dark:root{
    --NavbarBackground: rgb(0,0,0);
    --NavbarBackground-moz: -moz-linear-gradient(90deg, rgba(0,0,0,0) 15%, rgb(26, 26, 26) 50%, rgba(0,0,0,0) 90%);
    --NavbarBackground-webkit:  -webkit-linear-gradient(90deg, rgba(0,0,0,0) 15%, rgb(27, 27, 27) 50%, rgba(0,0,0,0) 90%);
    --NavbarBackground-liner: linear-gradient(90deg, rgba(0,0,0,0) 15%, rgb(27, 27, 27) 50%, rgba(0,0,0,0) 90%);
    --NavbarBackground-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

    --BorderButtonColor: rgb(198,198,198);
}
  
.navbar {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--NavbarBackground);
    background: var(--NavbarBackground-moz);
    background: var(--NavbarBackground-webkit);
    background: var(--NavbarBackground-liner);
    filter: var(--NavbarBackground-filter);
}
.navbar div:first-child{
    height: 50px;
    width: 300px;
}
.navbar div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
} 
.navbar button {
    cursor: pointer;
}

.redes button {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: var(--textColor);
}
.redes button:hover {
    transition: 1s;
    transform: scale(1.05);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu button {
    height: 100%;
    background-color: transparent;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: var(--textColor);
}
.menu button:hover {
    transition: 0.5s;
    border-top: 2px solid var(--BorderButtonColor);
}
