:root {
    --text-color: #000;
    --shadow-color: #000;
    --backgroundMobile-color: rgba(0,0, 0, 0.5);
    --navbarMobileText-color: #fff;
}
.dark-mode:root {
    --text-color: #fff;
    --shadow-color: #fff;
    --backgroundMobile-color: rgba(277,277, 277, 0.5);
    --navbarMobileText-color: #000;
}
.light-mode:root {
    --text-color: #000;
    --backgroundMobile-color: rgba(0,0, 0, 0.5);
    --shadow-color: #000;
    --navbarMobileText-color: #fff;
}
.BtnScroll {
    position: fixed;
    display: none;
    bottom: 50px;
    right: 25px;
    font-size: 35px;
    padding: 3px 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: rgb(8, 123, 230);
    box-shadow: 0 0 5px 1px #fff;
}
.BtnScroll:hover{
    transition: 0.5s;
    animation-name: clickBtn;
    animation-duration: 1s;
}

@keyframes clickBtn {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}