:root {
    --text-color: #000;
    --shadow-color: #000;
    --BackgroundInfo: rgba(163, 163, 163, 0.6);;
}
.dark-mode:root {
    --text-color: #fff;
    --shadow-color: #fff;
    --BackgroundInfo: rgba(80, 80, 80, 0.6);
}
.light-mode:root {
    --text-color: #000;
    --shadow-color: #000;
    --BackgroundInfo: rgba(163, 163, 163, 0.6);
}

.PageCurriculo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 50px 0 0 0;
    color: var(--text-color);
}
.PageCurriculo iframe {
    width: min(900px, 90%);
    height: 750px;
}
.PageCurriculo button {
    margin: 5px;
    cursor: pointer;
}